.calendar_appointments {
    max-width: 90%;
    margin: 0 auto;
}

.calendar_appointments table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}



/* .calendar_appointments th, */
.calendar_appointments td {
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}

.calendar_appointments td:hover {
    border: 2px solid #1a2035 
}



.calendar_appointments td {
    cursor: pointer;
}

/* .selected {
    background-color: lightblue;
} */

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navigation button {
    padding: 5px 10px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.selected {
    background-color: rgb(169, 176, 237);
    
}



.days_week {
    display: inline-block;
}


.day-circle {
    width: 40px;
    /* height: 40px; */
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(199, 199, 199);
}

.day-circle:hover{
    color: rgb(114, 48, 211) !important;
}

.selected-circle {
    border: 2px solid rgb(114, 48, 211);
    color: rgb(114, 48, 211) !important;
}

.color-sat {
    color: rgb(225, 77, 77);
}

.color-fri {
    color: rgb(86, 160, 225);
}



#time_appointments_Weekly p,
#time_appointments p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 8px;
}