.calendar_appointments {
    max-width: 90%;
    margin: 0 auto;
}
.calendar_appointments table {
    width: 100%;
    /* border-collapse: collapse; */
}

table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  th, td {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
  }

.calendar_appointments th, .calendar_appointments td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}
.calendar_appointments th {
    background-color: #f2f2f2;
}
.calendar_appointments td {
    cursor: pointer;
}
.selected {
    background-color: lightblue;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.navigation button {
    padding: 5px 10px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.selected {
    background-color: rgb(169, 176, 237);
}



.days_week {
    display: inline-block;
}


.day-circle {
    width: 40px;
    /* height: 40px; */
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-weight: bold; 
    line-height: 40px;
    cursor: pointer;
    margin: 10px;
    /* border: 1.5px solid black; */
}
.selected-circle {
    border: 2px solid rgb(114, 48, 211);
    color: rgb(114, 48, 211) !important;
}
.color-sat{
    color:rgb(225, 77, 77);
}

.color-fri{
    color:rgb(86, 160, 225);
}



